[user]
	email = damian.nadales@gmail.com
	name = Damian Nadales
[core]
	editor = emacsclient
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = meld
[commit]
  template = ~/.gitmessage
