## We ignore the worktree directory at every project.
##
## In this way we can add worktrees relative to `.worktree`:
##
## > git worktree add .worktree/some-branch some-branch
.worktree

## Tag files used by Emacs
TAGS

## Lorri configuration
.envrc

## Graphmod artifacs
*deps*.svg
*deps*.dot
*deps*.png

## Keys used when running a node locally
*.skey
opcert
